pkgbase = appgate-sdp
	pkgdesc = Appgate SDP (Software Defined Perimeter) desktop client
	pkgver = 5.3.1
	pkgrel = 2
	url = https://www.appgate.com/support/software-defined-perimeter-support
	arch = x86_64
	license = custom
	license = custom:commercial
	depends = dnsmasq
	depends = gtk3
	depends = libsecret
	depends = libxss
	depends = nodejs
	depends = nss
	depends = python-dbus
	optdepends = gnome-keyring: saves the endpoint certificate between sessions
	provides = appgate-sdp
	replaces = appgate-sdp-5
	options = staticlibs
	source = https://bin.appgate-sdp.com/5.3/client/appgate-sdp_5.3.1_amd64.deb
	source = appgate-sdp-appgatedriver.service.patch
	source = nm.py.patch
	source = set_dns.patch
	md5sums = 9f2d9c3c611c466bd58d7d3401227446
	md5sums = ba0fa926bb539383599d9f097dea6b7e
	md5sums = 6a222195c7a5ac9e53b80aa03d0518c9
	md5sums = aa95ad0ba9304cf72ee43779cd28d9a5

pkgname = appgate-sdp

